<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689257877289-5d67clpv2t9b14i3p6n5idf5uel2uhsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689257877289-5d67clpv2t9b14i3p6n5idf5uel2uhsc</string>
	<key>API_KEY</key>
	<string>AIzaSyDEJg_dTEhwiL0dXN7yzLAy0RzODFDMDdI</string>
	<key>GCM_SENDER_ID</key>
	<string>689257877289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeroslip</string>
	<key>PROJECT_ID</key>
	<string>zeroslip-6c573</string>
	<key>STORAGE_BUCKET</key>
	<string>zeroslip-6c573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689257877289:ios:7a26ea0f2805efdd7a3138</string>
</dict>
</plist>